# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# Django migrations (optional if you want fresh DB setup)
# */migrations/__pycache__/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db